*{
    margin: 0;
    padding: 0;
    --tw-ring-offset-color: none;
}

body{

    overflow-x: hidden;
    padding: 0%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
    color: #FFFFFF;

}

p{
    color:#BEBFC9;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c',Tahoma, sans-serif;
}

h6{
    font-size: 20px;
    color: white;
    font-family: Tahoma, sans-serif;
}
